<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cloudcannon.com/css/TT-Norms-Pro_400_500_800.css" rel="stylesheet" type="text/css">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.Data.meta.favicon.apple_touch_icon }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.Data.meta.favicon.large_icon }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.Data.meta.favicon.small_icon }}">
    <link rel="shortcut icon" href="{{ site.Data.meta.favicon.shortcut_icon }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta content="{{.Params.title}} | {{ site.Data.meta.project_name }}" property="og:title">
    <meta content="{{.Params.title}} | {{ site.Data.meta.project_name }}" property="twitter:title">
    <meta content="en_US" property="og:locale">
    <meta content="{{.Summary | plainify | htmlUnescape}}" name="description">
    <meta content="{{.Summary | plainify | htmlUnescape}}" property="og:description">
    <link rel="canonical" href="{{ .Permalink | absURL }}" >
    <meta content="{{.Permalink | absURL}}" property="og:url">
    <meta content="{{ site.Data.meta.project_name }}" property="og:site_name">
    <meta data-pagefind-meta="image[content]" content="{{ site.Data.meta.default_og_image | absURL}}" property="og:image">
    <meta content="article" property="og:type">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="{{ site.Data.meta.default_og_image | absURL}}" property="twitter:image">

    <link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
    {{ $style := resources.Get "css/site.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <title>{{.Params.title}} | {{ site.Data.meta.project_name }}</title>

    <style>
        {{ range $theme, $groupedTokens := .Site.Data.theme.colors }}
        body.{{$theme}} {
          {{ range $group, $tokens := $groupedTokens }}
            {{ range $token, $color := $tokens }}
              --{{$token}}: {{$color}};
            {{ end }}
          {{ end }}
        }
      {{ end }}
       
    </style>


</head>

<body {{ with .Params.nav_section -}}{{- if not (eq . "Root" ) -}} data-pagefind-filter="section:{{ . }}" {{- end -}}{{-
    end }} x-data="darkModeToggle()" x-init="init()" x-bind:class="{ dark: mode === 'dark', light: mode === 'light' }"  >
    {{ partial "banner.html" . }}
    {{ partial "nav.html" . }}
    <div class="search">
        <script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
        <div id="search"></div>
    </div>
    <div class="column">
        <aside>
            {{ partial "docnav.html" . }}
        </aside>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
    </div>
    {{ partial "footer.html" . }}


    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search" });
        });
    </script>

    {{ $js := resources.Get "js/site.js" | js.Build }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>
</body>

</html>